{% extends "base-privado.html" %}
{% block title %}
	Gestion Triturados Viales
{% endblock title %}
{% block description %}
	Home de gestion
{% endblock description %}
{% block content %}

<section> 
<h2>Programar  {{ id_item_pedido}} </h2>
<p>Producto {{ item_pedido.producto}}</p>
<p>Cantidad {{ item_pedido.cantidad}}</p>

<a class='button icon add'id="add" href="#">Adicionar</a> 

<form action="/programar/{{ id_item_pedido }}" method="POST">{% csrf_token %}
     
   {{ consecutivo_item_form.as_p}}


    {{ programacion_formset.management_form }}
    
    <table>
     <tr>
      <th>Planta</th>
      <th>Cantidad</th>
      <th>Fecha</th>
      <th></th>
     </tr>

    {% for form in programacion_formset.forms %}

      <tr class='item'>
      <td>{{ form.planta }} {{ form.planta.errors }}</td>
      <td>{{ form.cantidad }} {{ form.cantidad.errors }}</td>   
         <td>{{ form.fecha }} {{ form.fecha.errors }}</td>  
      <td><p style=""><a class="delete button danger icon trash" href="#">Borrar</a></p></td>
     </tr>

    {% endfor %}
     </table>
     <br>
    
  

    <input class='button icon approve' type="submit" value=" Enviar " />

</form>

</section>

 	
{% endblock content %}

{% block custom_scripts %}
  <script src="/media/js/pedido.js"></script>	
{% endblock custom_scripts %}


