<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="es"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="es"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="es"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{% endblock title %}</title>
        <meta name="description" content="{% block description %}{% endblock description %}">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="/media/css/style1.css">
       <link rel="stylesheet" href="/media/libs/jquery-ui/css/cupertino/jquery-ui-1.9.2.custom.min.css" type="text/css" />
           <link rel="stylesheet" href="/media/css/custom-jquery-ui.css">
    <link rel="stylesheet" href="/media/libs/css3-github-buttons/gh-buttons.css">
        <script src="/media/js/vendor/modernizr-2.6.2.min.js"></script>
       <script src="/admin/jsi18n/"></script>
    </head>
    <body>
        <div class="container">
       <header>
    <nav>
        <ul>
            <li><a href="/pedidos">Pedidos</a></li>
            <li><a href="/programacion/planta/1">Programacion</a></li>
            <li><a href="/despachos">Despachos</a></li>
            <li><a href="/reportes">Reportes</a></li>
        </ul>
    </nav>
</header>

        {% block content %}{% endblock content %}


<footer>
</footer>
        </div>
        <script src="/media/js/vendor/jquery-1.9.0.min.js"></script>
         <script src="/media/libs/jquery-ui/js/jquery-ui-1.9.2.custom.min.js"></script>
        <script src="/media/js/plugins.js"></script>
        <script src="/media/js/main.js"></script>
          {% block custom_scripts %}{% endblock custom_scripts %}
    </body>
</html>