{% extends "base-privado.html" %}
{% block title %}
	Gestion Triturados Viales
{% endblock title %}
{% block description %}
	Home de gestion
{% endblock description %}
{% block content %}

<section> 
<h1>Carga de pedidos</h1>
<h2>Nuevo pedido</h2>
<form action="/pedido/nuevo" method="POST">{% csrf_token %}
    <div class="section">
        {{ pedido_form.as_p }}
    </div>
    <h2>Todo Items</h2>
    {{ item_pedido_formset.management_form }}
      <p><a id="add" href="#">Adicionar</a></p>
    <table>
     <tr>
      <th>Obra</th>
      <th>Producto</th>
      <th>Cantidad</th>
      <th></th>
     </tr>

    {% for form in item_pedido_formset.forms %}

      <tr class='item'>
      <td>{{ form.obra }} {{ form.obra.errors }}</td>
      <td>{{ form.producto }} {{ form.producto.errors }}</td>
      <td>{{ form.cantidad }} {{ form.cantidad.errors }}</td>
      <td><p style=""><a class="delete" href="#">Borrar</a></p></td>
     </tr>

    </table>

    {% endfor %}
  
    <br><br>af 

    <input type="submit" value=" Submit " />

</form>

</section>

 	
{% endblock content %}

{% block custom_scripts %}
  <script src="/media/js/pedido.js"></script>	
{% endblock custom_scripts %}


